@font-face {
    $path: '/fonts/meteocons/';

    font-family: 'MeteoconsRegular';
    src: url($path + 'meteocons-webfont.eot');
    src: url($path + 'meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url($path + 'meteocons-webfont.woff') format('woff'),
         url($path + 'meteocons-webfont.ttf') format('truetype'),
         url($path + 'meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    //font-size: 10px;
}

body {
    background-color: #eeeeee;
}

.icon {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "expander";
@import "weather";
