<p ng-if="!weatherLoaded">Loading weather…</p>
<article class="expander" ng-if="weatherLoaded">
  <header class="expander--head">
    <a href="" class="expander--toggle-button" ng-click="expander.toggle()">
      <span class="expander--head-icon">
        <i class="weather-icon">{{weather.icon}}</i>
      </span><!-- Layout
      --><span class="expander--head-content">
        <h1>{{weather.location}}</h1>
        <p class="temperature">{{weather.temp}}°C</p>
        <p class="weather-description">{{weather.description}}</p>
      </span>
    </a>
  </header>
  <section class="expander--body" ng-show="expander.open">
    <div class="expander--separator"></div>
    <article class="forecast-day" ng-repeat="day in forecast.days">
      <h1>{{day.day}}</h1>
      <p class="temperature">
        <i class="weather-icon">{{day.icon}}</i> {{day.temp}}°C
      </p>
      <p class="weather-description">{{day.description}}</p>
    </article>
  </section>
</article>
